$color1 : #9A523D;
$color2 : #593F4A;
$color3 : #E3C0A1;
$angle : 0deg;

html,body,h2,h3,p {
    margin:0;
    padding:0;
}
button {
    border: none;
}

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: $color3;
}


header {
	padding: 10px;
	background-color: $color1; 
	text-align: center;
}

nav {
    width: 500px;
    margin: auto;
    .menuItems {
        width: 500px;
        height: 300px;
        display: block;
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        li {
            position: absolute;
            width: 100px;
            padding: 10px;
            background-color: $color1; 
            border-radius: 100%;
            cursor: pointer;
            -webkit-transition: background-color 0.8s;
            transition: background-color 0.8s;
        }
        li:hover, li:focus {
            //font-weight: bold;
            background-color: $color2;
        }
        #first {
            left: 0;
            top: 0;
        }
        #second {
            right: 0;
            top: 0;
        }
        #third {
            left: 110px;
            top: -58px;
        }
        #fourth {
            right: 110px;
            top: -58px;
        }
    }

    .rotButt {
        width: 200px;
        padding: 10px;
        margin: auto;
        background-color: $color1;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-size: 1em;
        cursor: pointer;

        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
        &:hover {
            background-color: $color2;
        }
        &:active {
            border: none;
        }
    }
}


.rotator {
	display: block;
	margin: 100px auto 20px auto;
	width: 300px;
	height: 300px;
	border-radius: 100%;
	background: url(./img/cartoonish.jpg);
	background-size: 320px;
	background-position: center;

    -webkit-transform: rotate($angle);
    transform: rotate($angle);

    -webkit-transition: all 0.8s;
    transition: all 0.8s;

    &:before {
    	content: "";
    	display: block;
    	position: relative;
    	left: 140px;
    	top: -20px;
    	background-color: $color2;
    	height: 20px;
    	width: 20px;
    	border-radius: 100%;
    }
}

.content {
    width: 700px;
    margin: 10px auto;
    background-color: $color1;
    text-align: justify;
    border-radius: 10px;
    padding: 20px;
    div {
        display: none;
    }
}

.github-button {
    display: inline-block;
    padding: 5px;
    line-height: 2em;
    height: 2em;
    background-color: $color3;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s;
    p, img {
        float: left;
        display: table-cell;
    }
    img {
        height: 2em;
    }
    p {
        color: black;
        font-weight: bold;
        vertical-align: middle;
        margin: 0 10px;
    }
    &:hover {
        padding: 10px;
    }
}
